.apresentation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    height: 100vh;
    background-image: url("../../assets/Rectangle\ 43.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#getCpf {
    background: white;
    height: 50vh;
    width: 32vw;
    border-radius: 8px;
    display: grid;
    padding: 3em;
}

#getCpf h1 {
    color: #211D28;
    font-size: 40px;
}

#gifMogno {
    height: 40vh;
    width: 27vw;
    padding: 1em;
}

#gifMogno h1 {
    font-size: 50px;
    color: white;
    margin-bottom: 0.5em;
}

#gifMogno p {
    color: white;
    line-height: 1.7em;
}


#createAccount {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}


/*Pagina número 2*/

.information {
    /* display: grid;
    grid-template-columns: 0.8fr 1fr;
    height: 95vh; */

    display: flex;
    justify-content: center;
}

/*Página número 3*/

.benefits {
    /* display: grid;
    grid-template-columns: 0.8fr 1fr;
    height: 95vh; */

    display: flex;
    justify-content: center;
}

/*estilização para as duas*/

#text-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4em;
}


#text-information h1,
p {
    margin-bottom: 0.5em;
    letter-spacing: 1px;
    line-height: 1.3em;
}

#image {
    margin: 1em;
    left: 2em;
    position: relative;
}

#image img {
    height: 90vh;

}

#style-button{
    width: 27vw;
}