.menu {
    height: 8vh;
    display: grid;
    align-items: center;
    background-color: #325500;
    grid-template-columns: 10fr 1fr;
    position: fixed;
    width: 100%;
    z-index: 1;
}

#logo{
    height: 8vh;
}

#list-menu{
    list-style: none;
    display: flex;
    gap: 5em;
}

#list-menu ul{
    list-style: none;
    display: flex;
    gap: 7em;
    align-items: center;
}

#link{
    text-decoration: none;
    color: #709129;
    font-size: 20px;
}

#link:hover{
    color:#FFD16A ;
}

#menu-icon{
    display: flex;
    gap: 0.5em;
    cursor: pointer;
    color: #709129;
}