.header {
    height: 8vh;
    display: grid;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    grid-template-columns: 1fr 1fr;
    position: fixed;
    width: 100%;
    z-index: 1;
}

#enter-buttom {
    margin-left: 42vw;
    cursor: pointer;
}

#logo{
    height: 8vh;
}