.header{
    height: 8vh;
    display: grid;
    justify-content: space-between;    
    align-items: center;
    background-color: white;
    grid-template-columns: 1fr 1fr;
    position: fixed;
    width: 100%;
}

#enter-buttom{
    margin-left: 37vw;
}