.header {
    height: 8vh;
    display: grid;
    justify-content: space-between;
    align-items: center;
    background-color: #325500;
    grid-template-columns: 1fr 2fr 1fr;
    position: fixed;
    width: 100%;
    z-index: 1;
}

#enter-buttom {
    margin-left: 15vw;
    cursor: pointer;
}

.header ul{
    list-style: none;
    display: flex;
    gap: 5em;
}

.header a{
    text-decoration: none;
    color: #709129 ;
    font-size: 22px;
}

.header h1{
    height: 4.5vh;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
    color: #eeeeee;
    margin-left: 2em;

}
