.grid-image{
    align-items: center;
    height: 110vh;
}

.grid-image h2{
    margin-left: 12em;
    margin-top: 4em;
    justify-content: center;
    color: #214200;
    font-size: 22px;
}

.cardContainer{
    width: 75vw;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    margin-left: 15em;
    margin-top: 2em;

}


#button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
}