.footerCashBack {
    height: 80vh;
    padding: 5em;
    background-color: #FFFFFF;

    font-family: 'Roboto', sans-serif;
}

.footerCashBack div {}

.footerCashBack h1 {
    width: 50vw;

    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #214200;

    margin-top: 30px;
    margin-bottom: 30px;
}

.footerCashBack ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    padding: 0 20px;
}

.footerCashBack li {
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
}

.images-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* .images-div img {
    height: 540px;
    width: 540px;
} */